<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

	<application android:label="@string/app_name"
		android:icon="@mipmap/sym_def_app_icon"
		android:enableOnBackInvokedCallback="true"
		android:allowBackup="false">
		<activity android:name="link.xdavidwu.saf.sftp.MainActivity"
			android:theme="@android:style/Theme.DeviceDefault"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<provider android:name="link.xdavidwu.saf.sftp.SftpDocumentsProvider"
			android:authorities="link.xdavidwu.saf.sftp"
			android:permission="android.permission.MANAGE_DOCUMENTS"
			android:grantUriPermissions="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.content.action.DOCUMENTS_PROVIDER" />
			</intent-filter>
		</provider>
		<service android:name="link.xdavidwu.saf.sftp.SftpIOService"
			android:foregroundServiceType="dataSync"
			android:exported="false">
		</service>
	</application>
</manifest>
